checkpoints
results
wandb
SMPLX_NEUTRAL_2020.npz
rendered
data
rendering
temp 

__pycache__
*.pyc

motion_ae_fid/logs
test.sh
train.sh

videos
rebuttal

test*

## BEAT_ori
0_BEAT_ori/outputs/*
0_BEAT_ori/datasets
0_BEAT_ori/codes/audio2pose/docs/*
0_BEAT_ori/codes/audio2pose/*.sh


## TalkSHOW
*.pkl
*.zip
*.mp4
A_TalkSHOW_ori/.idea
A_TalkSHOW_ori/data
A_TalkSHOW_ori/experiments
A_TalkSHOW_ori/visualise/smplx
A_TalkSHOW_ori/visualise/video
A_TalkSHOW_ori/visualise/mesh_vertices
A_TalkSHOW_ori/visualise/mouth_keypoints
A_TalkSHOW_ori/demo_audio
A_TalkSHOW_ori/demo
A_TalkSHOW_ori/results



# SpeechSplit
B_SpeechSplit/assets
B_SpeechSplit/results*

